<style>
body{
  height: 100vh;
  /*overflow: hidden;*/
  background-color: rgba(222, 222, 222, 0.4);
}
/* this webkit for scrollbar change the scroller of all its child html*/
  ::-webkit-scrollbar{
    -webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: none;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
  }
/*---------------------------------------------------------------------*/
.filterlayout{
  position: fixed;
  /*left: 1%;*/
  max-width: 18%;
  box-shadow: 2px 2px 6px #555;
  height: 100%;
  overflow: auto;
  padding: 5px 0px 10px 0px;
}
.portfolio{
  padding: 5px 10px 10px 0px;
  max-width: 80%;
  height: 100%;
  position: fixed;
  left: 20%;
  overflow: auto;
}
/*.dashboard{
  padding: 0px;
}*/
</style>

<template>
  <div class="container-fluid dashboard">
    <div class="row">
      <!-- this block for body part-->
      <div class="col filterlayout">
        <filterlayout/>
      </div>
      <div class="col portfolio">
        <portfolio/>
      </div>
    </div>
  </div>
</template>

<script>
import Filterlayout from '~/components/Filterlayout.vue'
import Portfolio from '~/components/Portfolio'
export default {
  components: {
    Filterlayout,
    Portfolio
  },
  layout: 'before'
}
</script>
