<style>
  body{
    min-width: 100%;
    /*min-height: 100vh;*/
  }
  .dashboard{
    height: 100%;
    width: 100%; 
  }
  .bgimage{
    position: relative;
    background: url('~/assets/images/beauty1.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
  }
  .search{
    position: absolute;
    width: 100%;
    top: 30%;
  }
  .input{
    position: relative;
    width: 50%;
    left: 30%;
  }
  .col{
    padding: 0px 5px 0px 0px;
  }
  .search_btn{
    background: rgba(128, 128, 128, 0.48);
    font-weight: 800;
  }
  .city_input{
    position: absolute;
    height: 100%;
    padding-left: 30px;
  }
  .place_icon{
    z-index: 1034;
    font-size: 30px;
    position: relative;
    top: 4px;
  }
  .cus_input{
    background: rgba(255, 255, 255, 0.64);
    color: black;
    font-weight: 800;
    /*border-color: black;*/
  }
  .cus_input:focus{
    background-color: rgba(255, 255, 255, 0.64);
    color: black;
    font-weight: 800;
  }
  .cityDropDown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-height: 150px;
    overflow: auto;
    box-shadow: 13px 22px 16px 9px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 39px;
    width: 266px;
    border-radius: 6px;
  }
  .cityDropDown div {
    color: black;
    padding: 4px 10px 4px 10px;
    /*padding: 12px 16px;*/
  }
  .cityDropDown div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  .show {
    display: block;
  }
</style>
<template>
  <div class="dashboard">
    <div class="bgimage">
      <div class="search">
        <form>
          <div class="row input" >
            <div class="col" style="width: 30%;">
              <div class="row" style="height: 100%; margin-right: 9px;">
                <i class="material-icons place_icon" >place</i>
                <input class="col form-control city_input cus_input" placeholder="City" @click="selectCity(city)" v-model="city">
                <div id="cityDropDown" class="cityDropDown">
                  <div v-for="city in cities" v-text="city" @click="selectCity(city)"></div>
                </div>
              </div>
            </div>
            <div class="col" style="width:70%;">
              <input type="" name="" class="form-control cus_input" placeholder="Catagory" v-model="catagory" @click="selectCatagory(catagory)">
              <div id="catagoryDropDown" class="cityDropDown">
                <div v-for="catagory in catagories" v-text="catagory.serviceType" @click="selectCatagory(catagory.serviceType)"></div>
              </div>
            </div>
            <div class="col">
              <button class="btn search_btn" @click.prevent="search()">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// window.onclick = function (event) {
//   if (!event.target.matches('.city_input')) {
//     var dropdowns = document.getElementsByClassName('cityDropDown')
//     var i
//     for (i = 0; i < dropdowns.length; i++) {
//       var openDropdown = dropdowns[i]
//       if (openDropdown.classList.contains('show')) {
//         openDropdown.classList.remove('show')
//       }
//     }
//   }
// }
import {getAllServices} from '~/assets/js/filter.attribute'
export default {
  layout: 'before',
  data () {
    return {
      cities: [
        'Hyderabad',
        'Bangalore',
        'Kolkata',
        'Delhi',
        'Oridsa',
        'Mumbai'
      ],
      city: '',
      catagories: this.getServices(),
      catagory: ''
    }
  },
  methods: {
    selectCity (city) {
      this.city = city
      document.getElementById('cityDropDown').classList.toggle('show')
    },
    getServices () {
      getAllServices().then((res) => {
        if (res.data) {
          this.catagories = res.data.data
        }
      })
    },
    selectCatagory (catagory) {
      this.catagory = catagory
      document.getElementById('catagoryDropDown').classList.toggle('show')
    },
    search () {
      this.$router.replace({
        path: '/photographer/dashboard?city=' + this.city + '&catagory=' + this.catagory
      })
    }
  }
}
</script>
