<style>
html{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  /*height: 100vh;*/
  background: url('~/assets/images/backimg.jpg') no-repeat center center fixed;
}
.reg_body{
  z-index: -1;
  height: 100vh;
  width: 100%;
}
.form_body{
  z-index: 1031;
  position: relative;
  float: center;
  top: 15%;
  background-color: rgba(44, 47, 47, 0.75);
  border: 1px solid;
  border-radius: 25px;
  width: 40%;

}
.form {
  padding: 10px 20px 20px 30px;
}
.form>div{
  padding: 20px 10px 0px 5px;
}
.title_button{
  background-color: rgba(136, 125, 125, 0.4);
  border: 0px;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  font-weight: 500;
  color: white;
  box-shadow: 10px 10px 30px gray;
}
.title_button:hover{
  background-color: rgba(52, 58, 64, 0.72);
  cursor: pointer;
  color: white;
  
}
.title_button:active{
  background-color: rgba(0, 161, 255, 0.9);
}
.reg_form, .log_form{
  position: relative;
  top: 20px;
  padding: 10px;
}
.reg_form>div, .log_form>div{
  padding: 0px 0px 20px 0px;
}
.form_label{
  font-weight: 600; 
  color: white;
}
.reg-form-input{
  border-radius: 10px;
  background-color: rgba(128,128, 128,0.2);
  background: transparent;
  color: white;
  width: 100%;
  box-shadow: 10px 10px 40px gray;
  padding: 7px;
  padding-left: 13px;
}
ul{
  border-bottom: 1px solid white !important;
  width: 100%;
}
li>a{
  color: white; 
}
li>a.active{
  color: white;
  background-color: rgba(9, 12, 14, 0.9) !important;
  border: 0px !important;
  color: white !important;
}
li>a:hover{
  background-color: gray;
  color: white;
}
.btn_grp{
  color: white;
  background-color: transparent !important;
  border-color: none;
  border-radius: 25px;
}
.btn-dark{
  width: 100%;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
}
.btn-dark:active{
  background-color: black !important;
}
.circle{
  position: absolute;
  right: 44%;
  width: 12%;
  height: 18%;
  top: -1px;
  background: black;
  border: 1px solid black;
  border-radius: 70px;
  color: white;
  text-align: center;
    font-size: xx-large;
  display: block;
}
.log_label{
  padding: 0px 0px 0px 20px;
}
@media screen and (max-width: 1235px) {
  .circle {
    display: none;
  }
}
</style>
<template>
  <div class="reg_body">
    <div class="container-fluid form_body">
      <div class="row form">
        <ul class="nav nav-tabs" style="padding: 20px 10px 5px 5px;" align="center">
          <li class="nav-item">
            <a href="#" class="nav-link active" id="login" @click="toggle('login')" >Login</a>
          </li>
        </ul>
      </div>
      <form class="reg_form" style="display: none;">
        <div class="circle" style="z-index: 1029; height: 14%">
          or
        </div>
        <div class="row">
          <div class="col">
            <button type="button" :class="['btn btn-dark', { active: !professional }]" @click="look('look')">Looking For Photographer</button>
          </div>
          <div class="col">
            <button type="button" :class="['btn btn-dark', { active: professional }]" @click="look('notlook')">Photographer</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form_label">First Name</label><br>
            <input type="text" name="" class="reg-form-input" v-model="fname" required>
          </div>
          <div class="col">
            <label class="form_label">Last Name</label><br>
            <input type="text" name="" class="reg-form-input" v-model="lname" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form_label">Mobile No.</label><br>
            <input type="text" name="" class="reg-form-input" v-model="reg_mobile" required>
          </div>
          <div class="col">
            <label class="form_label">Email(Optional)</label><br>
            <input type="text" name="" class="reg-form-input" v-model="reg_email">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form_label">Password</label><br>
            <input type="password" name="" class="reg-form-input" v-model="reg_password" required>
          </div>
          <div class="col">
            <label class="form_label">Confirm Password</label><br>
            <input type="password" name="" class="reg-form-input" v-model="reg_cpassword" required>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="col" align="center">
            <button  class="btn title_button" id="create" @click.prevent="create()">Create</button>
          </div>
        </div>
      </form>
      <form class="log_form" style="display: block;">
        <div class="circle" style="z-index: 1029; height: 18%">
          or
        </div>
        <div class="row">
          <div class="col">
            <button type="button" :class="['btn btn-dark', { active: !professional }]" @click="look('look')">Looking For Photographer</button>
          </div>
          <div class="col">
            <button type="button" :class="['btn btn-dark', { active: professional }]" @click="look('notlook')">Photographer</button>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="col" >
            <label class="form_label log_label" >Mobile No / Email</label><br>
          </div>
          <div class="col">
            <input type="text" name="" class="reg-form-input" v-model="log_auth" required>
          </div>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="col">
            <label class="form_label log_label">Password</label><br>
          </div>
          <div class="col">
            <input type="password" class="reg-form-input" v-model="log_password" required>
          </div>
        </div>
        
        <div class="row" style="padding-top: 20px;">
          <div class="col" align="center">
            <button class="btn title_button" id="login" @click.prevent="login()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>  
</template>

<script>
import {login} from '~/assets/js/filter.attribute'
const $ = require('jquery')

export default {
  layout: 'before',
  data () {
    return {
      fname: '',
      lname: '',
      reg_mobile: '',
      reg_email: '',
      reg_password: '',
      reg_cpassword: '',
      professional: false,
      log_auth: '',
      log_password: ''
    }
  },
  watch: {
    email: {

    }
  },
  methods: {
    look (v) {
      if (v === 'look') {
        this.professional = false
      } else {
        this.professional = true
      }
    },
    toggle (hash) {
      console.log('toggle: ', hash)
      if (hash === 'login') {
        $('#register').removeClass('active')
        $('.reg_form').css('display', 'none')
        $('.log_form').css('display', 'block')
      } else {
        $('#login').removeClass('active')
        $('.reg_form').css('display', 'block')
        $('.log_form').css('display', 'none')
      }
      $('#' + hash).addClass('active')
    },
    login () {
      $('#login').attr('disabled', true)
      var data = {}
      var check = {
        // this function will check the entered input is mobile no or not
        // also verify the input field are valid or not
        emailormobile: this.log_auth,
        password: this.log_password
      }
      let validation = this.valid(check)
      if (validation.valid) {
        if (validation.type === 'email') {
          data['email'] = this.log_auth
        } else {
          data['mobileNo'] = this.log_auth
        }
        data['categoryId'] = this.professional ? 1 : 2
        data['password'] = this.log_password
        login(data).then((res) => {
          if (res.status === 200) {
            console.log('accessToken: ', res.headers)
            this.$router.replace({path: '/photographer'})
          }
          $('#login').prop('disabled', false)
        })
      }
    },
    valid (data) {
      let me = {
        type: '',
        valid: false
      }
      if (data.password !== '') {
        if (data.emailormobile.match(/^\d+$/)) {
          me.type = 'mobile' // this is use to clear the mess next time
        } else if (data.emailormobile.match(/\S+@\S+\.\S+/)) {
          me.type = 'email'
        }
        me.valid = true
        return me
      }
      return me
    }
  }
}
</script>
