<style>
input {
  position: relative;
}
.form{
  position: relative;
  height: 100%;
  overflow: auto;
  padding-bottom: 40px;
}
.filter_layout_option{
  padding-top: 10px; 
  padding-left: 30px;

}
</style>
<template>
  <div>
    <!-- <form  style="position: relative; margin-left: 1%; width: 100%; overflow: auto">
      <div class="card" style="padding: 8px;">
        <div style="padding: 5px 0px 10px 0px; font-weight: 800; "> Photographer Type </div>
        <div class="row" v-for="profession in professionlist">
          <div class="col" style="max-width: 1px;"><input type="checkbox" v-model="prof" :value="profession.id" ></div>
          <div class="col"><label>{{profession.categoryType}}</label></div>
        </div>
        <div style="padding: 5px 0px 10px 0px; font-weight: 800; "> Location </div>
        <div class="row" v-for="l in locationlist">
          <div class="col" style="max-width: 1px;"><input type="radio" v-model="location" :value="l"></div>
          <div class="col"><label>{{l}}</label></div>
        </div>
        <div style="padding: 5px 0px 10px 0px; font-weight: 800;">Catagories</div>
        <div class="row" v-for="cat in catagories">
          <div class="col" style="max-width: 1px;"><input type="checkbox" v-model="catagory" :value="cat.id"></div>
          <div class="col"><label>{{cat.serviceType}}</label></div>
        </div>
        <div style="padding: 5px 0px 10px 0px; font-weight: 800;">Price</div>
        <div class="row">
	      </div>
      </div>
    </form> -->
    <form class="form">
      <div class="form-check">
        <label class="form-check-label">
          <div style="font-weight: 800; "> Photographer Type </div>
          <div class="filter_layout_option">
            <div class="row" v-for="profession in professionlist">
              <div class="col" style="max-width: 16px;"><input type="checkbox" v-model="prof" :value="profession.id" ></div>
              <div class="col"><label>{{profession.categoryType}}</label></div>
            </div>
          </div>
        </label>        
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <div style="padding: 5px 0px 10px 0px; font-weight: 800; "> Location </div>
          <div class="filter_layout_option">
            <div class="row" v-for="l in locationlist">
              <div class="col" style="max-width: 16px;"><input type="radio" v-model="location" :value="l"></div>
              <div class="col"><label>{{l}}</label></div>
            </div>
          </div>
        </label>        
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <div style="padding: 5px 0px 10px 0px; font-weight: 800;">Catagories</div>
          <div class="filter_layout_option">
            <div class="row" v-for="cat in catagories">
              <div class="col" style="max-width: 16px;">
                <input type="checkbox" v-model="catagory" :value="cat.id"></div>
              <div class="col"><label>{{cat.serviceType}}</label></div>
            </div>
          </div>
        </label>        
      </div>
    </form>
  </div>
</template>
<script>
// import  bFormSlider from 'vue-bootstrap-slider'
import {getAllCatagories, getAllServices} from '~/assets/js/filter.attribute'
export default {
  // components: {
  //  bFormSlider
  // },
  data () {
    return {
      professionlist: this.getCatagory(),
      prof: [],
      locationlist: [
        'Hyderabad',
        'Bangalore',
        'Kolkata',
        'Delhi',
        'Oridsa',
        'Mumbai'
      ],
      location: '',
      catagories: this.getServices(),
      catagory: []
    }
  },
  watch: {
    prof () {
      console.log(this.prof)
    },
    location () {
      console.log(this.location)
    },
    catagory () {
      console.log(this.catagory)
    }
  },
  created () {
    console.log('route params: ', this.$route.query)
  },
  methods: {
    getCatagory () {
      // this function will assign the value of 'professionlist' for filter search
      getAllCatagories().then((res) => {
        if (res.data) {
          this.professionlist = res.data.data
        }
      })
    },
    getServices () {
      getAllServices().then((res) => {
        if (res.data) {
          this.catagories = res.data.data
        }
      })
    }
  }
}
</script>
