<style>
  .profile_box{
    padding: 5px 10px 10px 20px;
    box-shadow: 2px 3px 3px  #ececec;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin-right: 0px;
    margin-left: 0px;
    height: 200px;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
    background-color: rgba(255, 255, 255, 0.54);
  }
  .profile_box:hover{
    box-shadow: 2px 1px 2px  #ececec;
    border-radius: 5px;
    border: 1px solid blue; /* rgba(0, 161, 255, 0.66);*/
    transform: translateY(-3px);

  }
  .profile_row{
     
  }
  .profile_box .col{
    padding: 0px;

  }
  .book_btn{
    cursor: pointer;
    position: relative;
    margin: 10px;
    left: 55%;
    width: 100px;
  }
  .images_box{
    border: 1px solid gainsboro;
    height: 130px;
    width: 120px;
    border-radius: 5px;
  }
</style>
<template>
  <div class="container-fluid">
    <div style="max-width: 50%;">
      <div class="row"  v-for="(portfolio, index) in portfoliolist" style="padding: 10px; overflow: auto;">
        <div class="profile_box row profile_row">
          <div class="col">
            <h4>{{portfolio.firstName}}</h4>
            <div class=" ">
              <img :src="images ? images[index].selfLink : ''" width="120px" height="130px" class="images_box">
            </div>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary book_btn" @click="book(portfolio.id)">Book</button>
          </div>
        </div>   
      </div>
    </div>
  </div>
</template>
<script>
import {getAllPhotograpr, getAllImages} from '~/assets/js/filter.attribute'
export default {
  data () {
    return {
      portfoliolist: this.getPhotograpr(),
      images: this.getImages()
    }
  },
  watch: {
    book () {
      this.book()
    }
  },
  created () {
    // console.log('hello: ', this.$router.query)
  },
  methods: {
    getPhotograpr () {
      try {
        getAllPhotograpr().then((res) => {
          if (res.data) {
            this.portfoliolist = res.data.data
          }
        })
      } catch (exec) {
        console.log('error: ', exec)
      }
    },
    book (id) {
      console.log(id)
    },
    getImages () {
      try {
        getAllImages().then((res) => {
          if (res.data) {
            this.images = res.data.data
          }
        })
      } catch (exec) {
        console.log('exec: ', exec)
      }
    }
  }
}
</script>
