#bgimage {
	position : fixed;
	top : 0px;
}
body::-webkit-scrollbar {
    width: 0.2em;
    background-color: black;
}

body{
	overflow : auto;
	z-index: -1;
}

.register{
	position: relative;
	top: 50px;
	z-index: 999;
	width: 100%;
	box-shadow: 10px 10px 5px grey;
}
.register_pic{
	padding-left: 0px;
}
.register_form{
	padding: 10px;
	padding-top: 50px;
}
.register_form > div {
	padding : 10px;
	height: 60px;
}
.clik-butn{
	position: relative;
	top: 20px;
}
