<style>
body{
	padding-bottom: 0px;
	min-height: 100%;
}
.bgimg {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	font-family: 'Hind', sans-serif;
    background: url('~/assets/images/backimg.jpg') no-repeat center center fixed;
    background-size: 100% 100% stretch;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    padding: 5px;
}
.shawdow {
	box-shadow: 10px 10px 30px gray;
	padding: 10px;
}

</style>
<template >
	<div class="container-fluid bgimg">
		hello {{$route.params.book}}
		<form class="shawdow">
			<div class="row">
				<div class="col">
					FirstName 
				</div>
				<div class="col">
					<input type="text" name="fname" >
				</div>
			</div>
		</form>
	</div>
</template>
<script >
export default {

}
</script>