<style>
.nav_btn{
  margin-right : 10px;
  cursor: pointer;
}
.nav_btn:hover{
  box-shadow: 1px 2px 3px gray;
  background-color: gray;
  color: white;
}
</style>
<template>
  <div>
    <header>
      <nav class="navbar navbar-light bg-light justify-content-between fixed-top " style="opacity: 0.9; padding-top: 5px; padding-bottom:5px;">
        <nuxt-link to="/"><div class="navbar-brand" >Photograpr</div></nuxt-link>
        <div >
          <nuxt-link to="/login">
            <button class="btn nav_btn">Login</button>
          </nuxt-link>
          <nuxt-link to="/register">
            <button class="btn nav_btn">Sign Up</button>
          </nuxt-link>
        </div>
      </nav>
    </header>
    <nuxt/>
  </div>
</template>
