<template>
  <div>
    <header>
      <nav class="navbar navbar-light bg-light justify-content-between fixed-top " style="opacity: 0.9; padding-top: 5px; padding-bottom:5px;">
        <nuxt-link to="/photograpr"><div class="navbar-brand" >Photograpr</div></nuxt-link>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <nuxt-link to="/categories">Catagories</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/gallary">Gallary</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/account">My Account</nuxt-link>
          </li>
        </ul>
      </nav>
    </header>
    <nuxt/>
  </div>
</template>
